@import "tailwindcss";

:root {
  --color-background: #0a0a0a;
  --transparency-background: #0a0a0a40;
  --color-foreground: #ededed;
  --color-outline: royalblue;
  --color-border: white;
  --color-shadow: rgb(109, 109, 109);
  --color-border-muted: gray;
  --color-primary: midnightblue;
  --color-secondary: royalblue;
  --success: green;
  --warning: yellow;
  --danger: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --transparency-background: #0a0a0a40;
    --color-foreground: #ededed;
    --color-border: white;
    --color-shadow: rgb(109, 109, 109);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #d9d9d9d9;
    --transparency-background: #ffffff40;
    --color-foreground: #0a0a0a;
    --color-border: black;
    --color-shadow: black;
  }
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--jetbrains-mono);
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

strong {
  color: (--color-primary);
}
