@import "tailwindcss";

:root {
  --color-background: #0a0a0a;
  --transparency-background: #0a0a0a40;
  --color-foreground: #ededed;
  --color-outline: royalblue;
  --color-border: white;
  --color-shadow: white;
  --color-border-muted: gray;
  --color-primary: midnightblue;
  --color-secondary: royalblue;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-transparent: #0a0a0a40;
    --foreground: #ededed;
    --border: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --background-transparent: #ffffff40;
    --foreground: #171717;
    --border: black;
  }
} */

/* .dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-block: 120px !important;
}
