@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --outline: royalblue;
  --border: black;
  --primary: midnightblue;
  --secondary: royalblue;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-transparent: #0a0a0a40;
    --foreground: #ededed;
    --border: white;
  }
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ffffff;
    --background: #ffffff40;
    --foreground: #171717;
    --border: black;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-block: 120px !important;
}

input,
textarea {
  border: 2px solid var(--border);
  outline: 2px solid transparent;
  outline-offset: 0px;
  transition: outline-offset 0.4s ease border 0.6s ease outline 0.4 ease;
}

input:focus,
textarea:focus {
  border: 2px solid var(--secondary);
  outline: 2px solid var(--primary);
  outline-offset: 3px;
  transition: outline-offset 0.4s ease border 0.6s ease outline 0.4s ease;
}
