.input {
  outline: 2px solid transparent;
  outline-offset: 0;
  border: 2px solid transparent;
}

.input:focus {
  outline: 2px solid var(--color-secondary);
  outline-offset: 3px;
  border: 2px solid var(--color-primary);
}
